<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cs.washington.cse477"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <!-- Parse push stuff -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
    <!-- IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below -->
    <!-- to match your app's package name + ".permission.C2D_MESSAGE". -->
    <permission
        android:name="org.cs.washington.cse477.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.cs.washington.cse477.permission.C2D_MESSAGE" />

    <!-- END parse push stuff -->

    
    <!-- APPLICATION PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- APPLICATION -->
    <application
        android:name="ParseInit"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <!-- Notifications Activity -->
        <activity
            android:name="org.cs.washington.cse477.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.cs.washington.cse477.DeviceSetupActivity"
            android:label="@string/title_activity_device_setup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.cs.washington.cse477.NotificationActivity" />
        </activity>
        <activity
            android:name="org.cs.washington.cse477.AudioUploadActivity"
            android:label="@string/title_activity_audio_upload" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.cs.washington.cse477.NotificationActivity" />
        </activity>
        <activity
            android:name="org.cs.washington.cse477.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.cs.washington.cse477.NotificationActivity" />
        </activity>
         
         <!-- PARSE PUSH NOTIFICATION STUFF -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->

                <category android:name="org.cs.washington.cse477" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.cs.washington.cse477.NotificationPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="org.cs.washington.cse477.NOTIFICATION_PUSH" />
            </intent-filter>
        </receiver>

        <!-- END parse push stuff -->

    </application>

</manifest>
